.region {
  cursor: pointer;
  transition: fill 0.5s ease;
  fill: #197278;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: #000000;
  stroke-width: 2px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  cursor: pointer;
}

.region:hover {
  fill: #283d3b;
}
.region.selected {
  fill: #ff9900;
}
