.navbar {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;            /* inner spacing */
    margin: 0;                /* no outer spacing */
    background-color: #197278;
    color: white;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-links a {
    color: white;
    margin-left: 1rem;
    text-decoration: none;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }